*

!/.github/
!/custom/
!/references/
!/sample.config/

!/.github/FUNDING.yml
!/references/info.yml
!/references/jupyterhub_config.py
!/sample.config/jupyterhub_config.py

!/.editorconfig
!/.gitattributes
!/.gitignore
!/.markdownlint.yml
!/CODE_OF_CONDUCT.md
!/LICENSE
!/README.md
!/sample..env
!/sample.db.env
!/sample.docker-compose.yml

!.keep
